<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Learning Vuew Basic 101</title>
    <script src="http://unpkg.com/vue@3.0.2"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link href="./style.css" rel="stylesheet">



</head>
<body>
    <h1>Hello Vue</h1>
    <div id="app">

        <!-- Attribute binding-->

        <a v-bind:href="urlA" >Best Website</a> 
        | <a :href="urlB" >Best Yahoo Website</a>








<div v-if="showBooks">
    {{ books[0].title }} <br>
    {{ books[1].title }}

    <ul>
        <li v-for="book in books">
            {{ book.title }}, 
            Author: {{ book.author }} | &nbsp;&nbsp;&emsp;&nbsp;
            <img :src="book.img" :alt="book.title" style="width:200px;">
            
            
        </li>
    </ul>
</div>

<hr>

        <h3 v-if="showBooks">
            {{ title }} - {{ author }} - {{ age }}
        </h3>

<!-- mouse events -->
<div class="box" v-on:mouseover="handleEvent">MouseOver</div>
<div class="box" v-on:mouseleave="handleEvent">mouse Leave</div>
<div class="box" v-on:dblclick="handleEvent">Double Click</div>
<div class="box" v-on:mousemove="handlemousemove">
  <strong>{{x}}, {{y}} </strong>  
</div>



<!-- Codes -->


 <button class="btn btn-link" @click="toggleShowBooks">
     <span v-if="showBooks">Hide Books </span>
     <span v-else>Show Books</span>
    </button>    

 <div v-show="showBooks">Currently Showing the books</div>   

<button v-on:click="age=age+1">Add Click me</button>
<button v-on:click="age=age-1">Remove ceClick me</button>

<button @click="title = 'new Book Title'">Change Title</button>

<button class="btn btn-link" @click="changeTitle()">Change Title with function </button>

<div @click="title = 'new Book Title' ">Change the text</div>



    </div>

    <div id="sheadings"></div>

    <script src="/app.js"></script>
</body>


</html>